.app-navigation {
  padding-top: $app-header-height;

  color: map-get($color-brand, 'lighter');
  background: map-get($color-brand, 'dark');

  @include media-breakpoint-up('lg') {
    padding-top: 0;
  }
}

.app-navigation .logo {
  display: none;

  @include media-breakpoint-up('lg') {
    display: block;
    height: 2.5rem;
    margin: 0 $grid-gutter-width $grid-gutter-width;

    background-image: image-url('shared/logo/logo-inverse.svg');
  }
}

.app-navigation__header-category,
.app-navigation__header-sub-list ,
.app-navigation__static {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-navigation__header-category {
  height: rem(60px);
  padding: 0 $grid-gutter-width/2 0 rem(50px);

  cursor: pointer;

  @include media-breakpoint-up('lg') {
    padding-left: $grid-gutter-width;
  }
}

.app-navigation__title-category,
.button-toggle__icon {
  color: map-get($color-brand, 'lightest');
}

.app-navigation__title-category {
  margin-bottom: 0;

  font-size: $base-font-size;
  font-weight: bold;
}

// On page load, hide menu content
.app-navigation__content,
.app-navigation__list,
.app-navigation__sub-list {
  height: 0;
  overflow: hidden;

  opacity: 0;
  transition: height $base-animation-duration $base-animation-timing,
              opacity $base-animation-duration $base-animation-timing;
}

.app-navigation__content {
  padding-bottom: 5px;

  background: $navigation-content-background;
}

.app-navigation__header-group {
  height: rem(30px);
  line-height: rem(30px);
  padding : 0 $grid-gutter-width / 2 0 $grid-gutter-width * 2;
  margin-top: rem(20px);

  color: map-get($color-brand, 'lightest-alt');
  font-weight: 600;
  font-size: map-get($font-sizes, 'xxs');
  text-transform: uppercase;

  pointer-events: none;
}

.app-navigation__list,
.app-navigation__sub-list {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.app-navigation__list {
  .app-navigation__link {
    height: rem(50px);
    line-height: rem(50px);
  }

  &-item > .app-navigation__link,
  &-item > .app-navigation__header-sub-list {
    padding : 0 $grid-gutter-width / 2 0 $grid-gutter-width * 2;
  }
}

.app-navigation__sub-list {
  position: relative;
  padding-left: $grid-gutter-width * 2;

  &:before {
    content: '';
    position: absolute;
    left: $grid-gutter-width * 2;
    z-index: map-get($zIndex, 'default');

    width: 4px;
    height: 100%;

    background: #4c378e;
  }

  &-item .app-navigation__link {
    padding: 0 $grid-gutter-width / 2 0 $grid-gutter-width;
  }
}

.app-navigation__link {
  display: block;
  color: map-get($color-brand, 'lightest');

  transition: color $base-animation-duration/2 $base-animation-timing;

  &, &:hover {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: #fff;
  }
}

.app-navigation__list-item--active,
.app-navigation__sub-list-item--active {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    z-index: map-get($zIndex, 'default');

    width: 4px;
    height: rem(50px);

    background: map-get($color-red, 'primary');
  }

  > .app-navigation__link,
  > .app-navigation__header-sub-list .app-navigation__link {
    color: #fff;
  }
}

.app-navigation__static {
  height: rem(60px);

  padding: 0 $grid-gutter-width/2 0 rem(50px);

  font-size: $base-font-size;
  font-weight: bold;
  cursor: pointer;

  @include media-breakpoint-up('lg') {
    padding-left: $grid-gutter-width;
  }

  > .app-navigation__link--active {
    color: #fff;
  }
}

// Expanded secondary level navigation

.app-navigation__category--expanded {
  .app-navigation__header-category {
    .app-navigation__title-category,
    .button-toggle__icon {
      color: #fff;
    }
  }

  .app-navigation__content,
  .app-navigation__list {
    height: auto;

    opacity: 1;
  }
}

// Expanded tertiary level navigation

.app-navigation__list-item--expanded {
  .app-navigation__header-sub-list {
    .app-navigation__link,
    .button-toggle__icon {
      color: #fff;
    }
  }

  .app-navigation__sub-list {
    height: auto;

    opacity: 1;
  }
}
